<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
<!--    <a href="#" class="navbar-brand">Magma</a>-->
<a class="navbar-brand" href="#">
      <button class="btn btn-warning" type="button">Cynapsys</button>
  </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showSimpleUserBoard">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <!--<li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Autre gestion</a>
      </li>-->
      
    <li class="nav-item dropdown active" *ngIf="showSimpleUserBoard">
      <a class="nav-link dropdown-toggle "  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion Evaluation</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item"  routerLink="/evaluation/new">Nouvelle Evaluation</a>
      </div>
    </li>     

    <li class="nav-item dropdown active" *ngIf="showAdminBoard">
      <a class="nav-link dropdown-toggle "  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion Formateur</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item"  routerLink="/formateur/new">Nouveau Formateur</a>
        <a class="dropdown-item"  routerLink="/formateurs">Lister Tous</a>
      </div>
    </li>      
    <li class="nav-item dropdown active" *ngIf="showAdminBoard">
      <a class="nav-link dropdown-toggle "  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion Formation</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item"  routerLink="/formation/new">Nouvelle Formation</a>
        <a class="dropdown-item"  routerLink="/formations">Lister Tous</a>
      </div>
    </li>     
    <li class="nav-item dropdown active" *ngIf="showAdminBoard">
      <a class="nav-link dropdown-toggle "  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion Evaluation</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item"  routerLink="/evaluations">Lister Evaluation</a>
      </div>
    </li>     
    <!--<li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
<li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>-->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register"><button class="btn btn btn-light" type="button">Enregistrer</button></a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login"><button class="btn btn btn-success" type="button">Connecter</button></a>
        
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()"><button class="btn btn btn-danger" type="button">Deconnecter</button></a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
